<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="sign-form">
  <div>
    <mat-form-field appearance="fill" class="email-form-material">
      <mat-label>Enter your email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="email" required [type]="'email'" />
      <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="fill" class="pass-form-material">
      <mat-label>Enter your password</mat-label>
      <input formControlName="password" matInput [type]="hide ? 'password' : 'text'" />
      <mat-error *ngIf="email.invalid">{{ getErrorMessagePass() }}</mat-error>

      <button mat-icon-button matSuffix (click)="togglePasswordVisibility($event)">
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <button mat-raised-button color="primary">Sign In</button>
</form>