<div>
    <mat-toolbar class="game-dashboard">
        <div>
            <span>Easy Logic game</span>
            <span class="example-spacer"></span>
            <button mat-icon-button matTooltip="warn" color="warn" aria-label="Example icon-button with a heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
        </div>
        <span *ngIf="loggedInUser">Hey, {{loggedInUser.name}}</span>
        <button mat-raised-button color="warn" (click)="signOut()">
            Sign out
        </button>
    </mat-toolbar>
</div>

<div class="tab-container">
    <nav mat-tab-nav-bar class="mat-elevation">
        <a *ngIf="isUserAdmin()" mat-tab-link routerLink="/admin">
            <mat-icon>admin_panel_settings</mat-icon>
            <span>Admin</span>
        </a>
        <a mat-tab-link routerLink="/game">
            <mat-icon>videogame_asset</mat-icon>
            <span>Game</span>
        </a>
        <a mat-tab-link routerLink="/leaderboard">
            <mat-icon>leaderboard</mat-icon>
            <span>Leaderboard</span>
        </a>
    </nav>
</div>


<router-outlet></router-outlet>