.sign-form {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    padding: 50px;
    .email-form-material {
      width: 100%;
    }
    .pass-form-material {
      width: 100%;
    }
  }

  .mat-raised-button{
    margin-top: 30px;
  }