.not-found{
    max-width: 400px;
    width: 100%;
    color: rgb(251, 148, 148);
    background-color: rgba(255, 255, 255, 0.192);
    padding: 30px;
    border-radius: 5px;
    text-align: center;
    margin:  100px auto;
   
}