.file-upload-wraper{
    margin-top: 20px;
    margin-bottom: 20px;
}
.button{
    margin-right: 5px;
    margin-top: 10px;
}

input[type=file] {
    width: 220px;
    max-width: 100%;
    color: #444;
    padding: 5px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(149, 160, 215);
  }
  
  input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #403eaa;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #ec6262;
  }