/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
body{
    background: rgb(45, 6, 6);
    background: radial-gradient(circle, #3d0b07 0%, #000002 100%);

    // background: #ffffff;
    // background: radial-gradient(circle, #ffffff 0%, #ffffff 100%);
}
